main{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.bg{
    background-color: #ffffff;
}

li{
    list-style: none;
}

h1{
    font-size: 1.5rem;
    padding: 0.3rem;
}

/* change the color of progress?
.check-out:hover
    color: #333;
*/

#user-update{
    background-color: #232323;
}


.fa-times{
    margin-right: 0.75rem;
}


.footer {
    height: 75px;
    margin-top: 50px;
    background-color: #333;
    min-width: 100%;
    left:0;
    right: 0;
    bottom:0;
  }

