main{
    min-height: 80vh;
}

.bg{
    background-color: #ffffff;
}

li{
    list-style: none;
}

h1{
    font-size: 1.5rem;
    padding: 0.3rem;
}

/* change the color of progress?
.check-out:hover
    color: #333;
*/

#user-update{
    background-color: #232323;
}
